<p><a href="<?= $this->url(
    array(
        'controller' => 'users',
        'action'     => 'sign'
    ), 
    'default', 
    true) ?>">Register</a></p>

Users Entries: <br />
<dl>
    <!-- Loop through the entries that were provided to us by the controller -->
    <? foreach ($this->entries as $entry): ?>
    <dt><?= $this->escape($entry['username']) ?></dt>
    <dd>Creation Date <?= $this->escape($entry['creation_date']) ?></dd>
    <dd>Password <?= $this->escape($entry['password']) ?></dd>
    <dd>Realname <?= $this->escape($entry['realname']) ?></dd>
    <dd>Country <?= $this->escape($entry['country']) ?></dd>
    <dd>Email <?= $this->escape($entry['email']) ?></dd>
    <dd>Rank <?= $this->escape($entry['rank']) ?></dd>
    <? endforeach ?>
</dl>